.Asado {
  max-width: 800px;
  margin: 10px auto;
}

.Asado-wrapper {
	text-align: center;
	padding: 20px;
	color: #fff;
  position: relative;
  z-index: 1;
}

.Asado-wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../../assets/img/img-chalkboard.jpg);
  background-size: cover;
  background-position: 50%;
  opacity: .9;
  box-shadow: 0 0 9px 1px rgba(0,0,0,.6);
}

@media (min-width: 30em) {
  .Asado-wrapper:before {
    border-radius: 10px;
  }
}

@media (min-width: 39.8em) {
  .Asado-wrapper {
    padding: 40px 60px;
  }
}

.Asado-body {
  position: relative;
}

.Asado h1 {
	font-family: 'Abril Fatface';
	font-weight: lighter;
	font-size: 2rem;
	letter-spacing: 2px;
	margin: 20px 0;
}

@media (min-width: 39.8em) {
  .Asado h1 {
    font-size: 3rem;
  }
}

.Asado h2 {
	font-size: 1.6rem;
}

@media (min-width: 39.8em) {
  .Asado h2 {
    font-size: 2rem;
  }
}

.Asado h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

@media (min-width: 39.8em) {
  .Asado h3 {
    font-size: 1.4rem;
  }
}

.Asado h4 {
	margin: 10px;
}

.Asado input[type="number"] {
  width: 90%;
  max-width: 60px;
}

.Asado input[type="number"],
.Asado select {
	font-size: 1.4rem;
	border-radius: 4px;
	border: 0;
	padding: .2em;
	outline: 0;
}

.Asado-select {
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255,255,255,.2);
}

.Asado-select:last-child {
	border: 0;
}

.Asado-input {
  margin-bottom: 14px;
  user-select: none;
}

.Asado-input--checkbox {
  margin-bottom: 10px;
}

.Asado-input--checkbox label {
  cursor: pointer;
}

.Asado-input--checkbox input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-left: 10px;
  display: inline-block;
}

.Asado-select-item h4 span {
  display: block;
}

@media (min-width: 39.8em) {
  .Asado-select-item h4 span {
    display: inline-block;
  }
}

.Asado-select-body--column {
	display: grid;
	grid-auto-flow: column;
}

.Asado hr {
	border: 0;
	border-bottom: 1px solid #fff;
	opacity: .4;
}

.Asado li {
  list-style: none;
}

.Asado span[role="img"] {
  margin-left: 4px;
}
