body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Cutive Mono', sans-serif;
  background-color: #252525;
  background-image: url(./assets/img/photo-1466220549276-aef9ce186540.jpg);
  background-size: cover;
  background-position: 50%;
  font-weight: lighter;
}

#root {
  display: grid;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 20px);
}
