body {
  margin: 0;
  padding: 0;
  font-family: 'Cutive Mono', sans-serif;
  background-color: #252525;
  background-image: url(./assets/img/photo-1498092590708-048e0e2f46d7.jpeg);
  background-size: cover;
  background-position: 50%;
  font-weight: lighter;
}

#root {
  display: grid;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 20px);
}
